* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

article {
    border: 2px solid;
    background-color: red;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    border: 2px solid;
    background-color: blue;
    padding: 10px;
}
