* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

header h1,
header p,
header nav {
    justify-self: center;
    align-self: center;
}

header nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

header nav ul li {
    justify-self: center;
    align-self: center;
} */

/* body {
    padding: 50px;
} */

/* header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header div {
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style-type: none;
} */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "heading . navigation";
}

header h1 {
    grid-area: heading;
}

header p {
    grid-area: job;
}

header nav {
    grid-area: navigation;
    position: relative;
    right: 30px;
}

header h1,
header p,
header nav {
    justify-self: center;
    align-self: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

header p {
    /* position: relative; */
    /* left: 15px;
    bottom: 30px; */
    /* right: 15px; */
    /* left: 15px;
    top: 30px; */

    /* position: fixed;
    top: 300px;
    left: 50px; */

    font-size: 30px;
    font-weight: bold;
    color: red;

    /* position: absolute;
    top: 300px;
    left: 50px; */

    /* position: sticky;
    top: 100px; */
}

#p1 {
    position: sticky;
    top: 100px;
    color: red;
}
